<h1>List of Pictures</h1>

<%= link_to "Add a New Picture", "/pictures/new" %>

<ul>
<% @pictures.each do |picture_object| %>
  <li>
      <%= link_to image_tag(picture_object.url, :width => 100),
                  "/pictures/#{picture_object.id}"%>
    
  </li>
<% end %>
</ul>