<h1>Add a New Picture</h1>

<form action="http://localhost:3000/pictures" method="post">
  URL: 
  <input type="text" name="url">
  Note:
  <input type="text" name="caption">
  
  <p>
    <input type="submit">
  </p>
</form>