<h1>Add a New Picture</h1>

<%= form_tag "http://localhost:3000/pictures" do %>
  URL: <%= text_field_tag :url %>
  Note: <%= text_field_tag :note %>
  <p>
    <%= submit_tag("Go Hawks") %>
  </p>
<% end %>

<!-- <form action="http://localhost:3000/pictures" method="post">
  URL: 
  <input type="text" name="url">
  Note:
  <input type="text" name="caption">
  
  <p>
    <input type="submit">
  </p>
</form> -->